


      /*to be able to set top left right etc.. you need to set opsition
to anything except static. By default its static so you need to\
change it to set top left right etc..*/

.light{
  background-image: url('back-light.png');
  background-size: cover; 
  background-color: #c3c3c3;
  background-repeat: no-repeat;

}

.dark{
  background-image: url('back.png');
  background-size: cover; 
  background-color: #1c1c1c;
  background-repeat: no-repeat;

}


body{
    background-image: url('back.png');
    background-size: cover;
    background-repeat: no-repeat; 
     /*background-image: linear-gradient(#101010,#2b2b2b);*/
     /*the first three lines are all needed to make the perfect background image*/
    /*Make the gradient cover the entire body*/ 
     height: 97vh; /*Set height to 100% of viewport height */
     width: 95vw;
     user-select: none; /*eliminates the annoying blue select text*/
     
    
 }

.bodycontainer{
    display: flex;
    flex-direction: column;
    position: absolute;
}

 .header{
    display: flex;
    /*position: fixed;*/
    /*this statement kept messing with our flexbox alignment
    the fixed position takes the .header out of the normal 
    document flow, and the margin of the .content doesn't push
     it down enough to clear the fixed header.*/
    height: 10vh;
    width: 98vw;
    padding: 10px 10px 20px 0px;/*top right bottom left*/
    background-color: rgba(0, 0, 0, 0);
   /* border-bottom: 2px solid rgba(69, 68, 68, 0.368); affects only bottom*/
  }

#projectportal{
    display:flex;
    width: 45vw;
    margin-left: 1vw;

}
             
            

            .pp{
                border: none;
                height: 40px;
                width: 7vw;
                font-size: 1.25rem;
                margin:12px 4vw 0px 0px; 
                 }
                 

            button{
                 transition:0.3s ease; /* 0.3s duration, ease timing function */
                 border:solid;
                 color: #ffffff;
                 border-radius: 25px;
                 border: solid;
                 border-color: #00000000; /*transparent*/
                 background-color: rgba(45, 45, 45, 0);
                 /* couldn't mention height and width here because display of button is inline is by default inline*/
                 /*inline doesn't allow to change height width padding etc*/
                 /*one way to solve this problem is by writing display: inline-block; or block */
                 /*other way to do this is by mentioning the height width in a class selector we have done this below see*/
                }
                
             button:hover{
                 border-color: rgb(143, 0, 253);
                 color:rgb(143, 0, 253);
                 transform: translateY(5px);
                 letter-spacing: 1.5px; /*new letter spacing */
                }
            
             .dropdown #morework{
                 border: none;
                 transition:0s ease;
                 color: #ffffff;
                 transform: translateY(0px);
                 letter-spacing: normal;
             }

             #morework{
                margin-left: 1.6vw;
                color: #ffffff;
                width: 7vw;
             }
             
             #morework:hover{
                color: #8f00fd;
                letter-spacing: 1.5px;
             }

              /*important for dropdown*/
                .dropdown {
                    display: inline-block;
                    
                  }

                .dropdown:hover{
                  transition: 0.3s ease;
                  transform: translateY(5px);
                }
                  
                  .dropbtn {
                    border-color: #60606032;
                    height: 40px;
                    width: 120px;
                    font-size: 1.25rem;
                    margin: 12px 25px 0px 0px;
                  }
                  
                  .dropdown-content {
                    display: none; /*this makes sure dropdown content aren't visible
                    so that we can make them visible only on hover*/
                    position: absolute;
                    background-color: #2d2d2d12;
                    backdrop-filter: blur(4px);
                    box-shadow: 0px 8px 16px 0px #252525;
                    z-index: 1; /* hhad to do this or it would affect
                    our flex boxes header and container*/
                    margin-left: 15px;
                    border-radius: 10px;
                    width: 125px;
                    border: solid 1px #a1a1a182;
                  }
                  
                  .dropdown-content a{
                    text-decoration:none ;/* had to do this because by default anchor tage have 
                    underline which we don't want*/
                    color: #ffffff;
                    padding: 12px 16px;
                    display: block;
                
                  }
                  
                  .dropdown-content a:hover{
                    color: white;
                    font-size: larger;
                    border-radius: 10px;
                    border: solid 1px #a1a1a182;

                  }
                  
                  .dropdown:hover .dropdown-content {
                    display: block; /*this makes content come below MoreWork btn*/
    
                    
                    
                  }
                    /*not exactly important part to make drop-down,
                    this is only an aesthetic adjustment*/
                  .dropdown:hover #morework{
                    color: #8f00fd;
                    letter-spacing: 1.5px;
                  }


.media{
   display: flex;
   width: fit-content;
   padding: 30px;
   position: absolute;
   right: 0;
   top:10;
   background-color: #171717;
   border-radius: 25px;
   margin-right: 55px;
   box-shadow: 2px 10px 5px #18181875;
   border:  1.5px solid;
   animation-name: trial2;
   animation-duration: 3s;
   animation-iteration-count: infinite;
} 
@keyframes trial2 {
  0% {border-color: #0479ff}
  50% {border-color: #d740fd}
  100% {border-color: #0479ff}
}
@keyframes trial {
  0% {border-color: #197de9}
  50% {border-color: #d740fd}
  100% {border-color: #197de9}
}

.media a{
  display: flex;
  width: fit-content;
  margin: 0px 10px;
  text-decoration: none;
} 

        
        #medias{
            transition:0.3s ease;
            color: #ffffff;
        }   
                
        #medias:hover{
            transform: translateY(5px);
            color: #a202b4;
        }
        #medias:active{
          color: #ffffff;
        }
                             
/*
.login-signup{
    display: flex;
    justify-content: flex-end;
    width: 20vw;
}

        .log-sign{
            color: #ffffff;
            background-color: #171717;
            border: solid 3px #171717;
            margin-right: 15px;
            height: 60px;
            width: 120px;
            font-size: 1.25rem;
            box-shadow: 2px 10px 5px #18181875;
            overflow:hidden;
        }

       

        .log-sign:hover{
             
             color: #ffffff;
             animation-name: trial ;
            animation-duration: 2s;
            animation-iteration-count: infinite;
             

        }
        .log-sign:active::after{
          content: '';
          position: absolute;
          border-radius: 50%;
          background: rgba(255, 255, 255, 0.311);
          transform: scale(0);
          width: 100%;
          padding-top: 100%;
          top: 0;
          left: 0;
          animation: ripple 1s linear;
        }
        
        @keyframes ripple {
          to {
            transform: scale(5);
            opacity: 0;
          }
        }


             

        #log{
            margin-left: 35px;
        }
        
        #sig{
            margin-right:30px ;
        }
*/
.content{
    display: flex;
    height: 75vh;
    width: 95vw; 

} 
         #box1{
            display: flex;
            flex-direction: column;
            
            border-radius: 25px;
            width: 25vw;
            height: 60vh;
            margin: 20px 2vw 0px 20px;
            font-size: 3rem;
            padding-left: 20px;
            z-index: 5px;
            align-items: center;
            padding: 20px;
            background-color: transparent;



         }
        
         .box1Big{
            display: flex;
            height: fit-content;
            color: #8f00fd;
            position:relative;
            left:0;
            /*text-shadow:
            -1px -1px 0 #8f00fd,
            0    -1px 0 #8f00fd,
            1px  -1px 0 #8f00fd,
            1px   0    0 #8f00fd,
            1px   1px 0 #8f00fd,
            0     1px 0 #8f00fd,
            -1px  1px 0 #8f00fd,
            -1px  0    0 #8f00fd;
            */
            /*text gradient*/
            margin: 0;
            padding: 30px 0px 0px 0px;
            background: linear-gradient(to right, #f9bb5c, #6704bd);
            -webkit-background-clip: text; /* For webkit browsers works for chrome safari modern browsers*/
            background-clip: text;
            color: transparent; 
            
            
            
          }
        
        .box1Small{
            display: flex;
            height: fit-content;
            font-size: 1.15rem;
            color: white;
            margin-top: 10px;
            padding: 10px 0px 0px 15px;
            
        }

        #box1boxes{
            display: flex;
        }
        #box1btn{
            display: flex;
            width: 120px;
            height: 50px;
            background-color: #ffffff;
            color: #000000;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            font-weight: bolder;
            border:none;
            margin-right: 20px;
        }
        #box2btn{
            display: flex;
            width:120px;
            height: 50px;
            background-image: linear-gradient(to right,#ffcb7e,#6704bd);
            color: #ffffff;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            font-weight: bolder;
            border:none;
        }
/*
        #box2btn:active .zaxis{
          bottom:0;

        }

        .zaxis{
          position: absolute;
          transition-duration: 1s;
          z-index: 5;
          top:-100%;
          left:300px;
          height: 100%;
          width: 100%;
          background-color: #ffffff;
        }
*/
         #box2{
            display: flex;
           /* border: solid 2px #8f00fd;*/
            width: 45vw;
            height: 70vh;
            padding: 10px;
            background-image: url(box2.png);
            background-size: contain;
            background-repeat: no-repeat;
            padding-bottom: 30px;
            margin-left:10vw;
            position: relative;
            animation-name: example;
            animation-duration: 2.5s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            
         }
         @keyframes example {
          0%   {top:0px;}
          50%  {top:30px;}
          100% {top:0px;}
        }

        #box3{
            display: none; /* temporary hidden*/
            flex-direction: column;
            border: ridge 5px ;
            width: 40vw;
            height: 15vw;
            margin-top: 60px;
            border-radius: 25px;
            background-color: #0c1116;
            background-image: url("graph.png");
            background-repeat: no-repeat;
            background-size: 100%;
            box-shadow: 2px 10px 5px #18181875;
            overflow-y: scroll;
            overflow-x: hidden;
            border: 3px dotted;
            animation-name: trial2;
            animation-duration: 3s;
            animation-iteration-count: infinite;

            
        } 

          ::-webkit-scrollbar {
            width: 10px;
          }
          
          /* Track */
          ::-webkit-scrollbar-track {
            background: transparent; 
            
          }
           
          /* Handle */
          ::-webkit-scrollbar-thumb {
            background: #393939a5; 
            border-radius: 5px;
          }
          
          /* Handle on hover */
          ::-webkit-scrollbar-thumb:hover {
            background: #8f00fd;
            border-radius: 5px; 
          }
      

          











