/* if device has a touch screen */
@media (any-pointer: coarse) {
  body {
  background-color: #1f1f1f;
  user-select: none; /*eliminates the annoying blue select text*/

  }
  body::before{
  content:"Open in desktop";
  font-size:1.3em;
  color:white;
  }
}
